**/tmp
**/**.zip
.env
**/.DS_Store
instruction_set.json
__pycache__
legal_documents
.deepeval
.deepeval-cache.json
test_results
mexican_law_16bit
mexican_law_model
synthetic_data
!Avance-7/synthetic_data
**/**.safetensors